Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menu bar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menu bar, select Cell$\rightarrow$Run All).

Make sure that in addition to the code, you provide written answers for all questions of the assignment. 

Below, please fill in your name and collaborators:

In [1]:
NAME = "Anurag Singh Negi"
COLLABORATORS = ""

## Assignment 2 - Data Analysis using Pandas
**(15 points total)**

For this assignment, we will analyze the open dataset with data on the passengers aboard the Titanic.

The data file for this assignment can be downloaded from Kaggle website: https://www.kaggle.com/c/titanic/data, file `train.csv`. It is also attached to the assignment page. The definition of all variables can be found on the same Kaggle page, in the Data Dictionary section.

Read the data from the file into pandas DataFrame. Analyze, clean and transform the data to answer the following question: 

**What categories of passengers were most likely to survive the Titanic disaster?**

**Question 1.**  _(4 points)_
* The answer to the main question - What categories of passengers were most likely to survive the Titanic disaster? _(2 points)_
* The detailed explanation of the logic of the analysis _(2 points)_

**Question 2.**  _(3 points)_
* What other attributes did you use for the analysis? Explain how you used them and why you decided to use them. 
* Provide a complete list of all attributes used.

**Question 3.**  _(3 points)_
* Did you engineer any attributes (created new attributes)? If yes, explain the rationale and how the new attributes were used in the analysis?
* If you have excluded any attributes from the analysis, provide an explanation why you believe they can be excluded.

**Question 4.**  _(5 points)_
* How did you treat missing values for those attributes that you included in the analysis (for example, `age` attribute)? Provide a detailed explanation in the comments.

In [17]:
import pandas as pd
import numpy as np
trains = pd.read_csv("train.csv")
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Creating a new column Salutation by extracting the Salutation from the Name column for each of the Passenger

trains['Salutation'] = trains['Name'].replace(regex=r'^.*,', value='').replace(regex=r'\..*$', value='').str.strip()

# For the passengers with the missing age we are assigning the median age of the Salutation of the group. For example
# if the person with Salutation Mr is missing the age column the median age for the Salutation of Mr will be assigned to it

trains['Age'] = round(trains.groupby('Salutation')['Age'].transform(lambda group: group.fillna(group.median())), 1)

# Creating a new group for the Fare group which has the groups created and assigned for 
# each 50 Dollars interval starting from 0 to 550

trains['Fare'] = trains['Fare'].astype(np.int64)
trains['Fare_group'] = pd.cut(trains['Fare'], bins=np.linspace(0, 550, 12))

# For the passengers missing the Cabin or the Embarked value we are assigning the values which have the maximum occurance

trains.fillna({'Cabin' : trains['Cabin'].value_counts().idxmax(), 'Embarked' :  trains['Embarked'].value_counts().idxmax()}, inplace=True)

# Creating a new Column for the Age group which has the groups created and assigned for 
# each 10 years interval starting from 0 to 80

trains['Age_group'] = pd.cut(trains['Age'], bins=np.linspace(0, 80, 9))

# Creating a new group for the Fare group which has the groups created and assigned for 
# each 50 Dollars interval starting from 0 to 550

trains['Fare'] = trains['Fare'].astype(np.int64)
trains['Fare_group'] = pd.cut(trains['Fare'], bins=np.linspace(0, 550, 12))
trains.head()

   PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket  Fare        Cabin Embarked Salutation     Fare_group     Age_group
0            1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171     7  C23 C25 C27        S         Mr    (0.0, 50.0]  (20.0, 30.0]
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599    71          C85        C        Mrs  (50.0, 100.0]  (30.0, 40.0]
2            3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282     7  C23 C25 C27        S       Miss    (0.0, 50.0]  (20.0, 30.0]
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803    53         C123        S        Mrs  (50.0, 100.0]  (30.0, 40.0]
4            5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450     8  C23 C25 C27        S         Mr    (0.0, 50.0]  (30.0, 40.0]

In [3]:
# ANSWER 1 Part 1: FEMALES IN 1st CLASS - From the analysis of the data it seems the survival of the passengers was mainly 
#                  based on their Sex, Passenger Class, Fare paid and Age. As the survival rate of the females passengers 
#                  and passengers who are in 1st class (also means paid higher fare) had the higher survival rate so 
#                  the category of passenger which are most likely to survive are FEMALES IN 1st CLASS with a survival 
#                  percentage of around 96% followed by women in second class with survival percentage of 92%.
#                  
#                  
# ANSWER 1 Part 2:Below are the details for stats and logic used to determine that FEMALES IN 1st CLASS have
#                  highest survival rate
#
#          Point 1) Pclass and Sex 
#
#          Point 2) Age and Sex 
# 
#          Point 3) Fare and Sex

In [4]:
# Point 1) Pclass and Sex : The survival rate of the passengers was impacted by the travel class of the passengers.
#                            Passengers travelling in the 1st class had higher chance of survival compared to passengers
#                            travelling in 2nd and 3rd class similarly passenegrs in 2nd Class had higher survival chances
#                            than the passenger in the 3rd class for both Male and Females. The Females in the 1st class 
#                            have the highest survival rate among all.


result_pclass_group = (pd.concat([ trains.groupby(['Pclass','Sex']).count().dropna()['PassengerId'], trains[trains['Survived'] == 1].groupby(['Pclass','Sex']).count().dropna()['PassengerId'], round(trains[trains['Survived'] == 1].groupby(['Pclass','Sex']).count().dropna()['PassengerId']* 100/trains.groupby(['Pclass','Sex']).count().dropna()['PassengerId'],2)], axis=1))
result_pclass_group.columns = [' Total_Passengrs' ,'Num_of_Survived_Passengers', "Percentage_of_Survived_Passengers"]
result_pclass_group

                Total_Passengrs  Num_of_Survived_Passengers  Percentage_of_Survived_Passengers
Pclass Sex
1      female                94                          91                              96.81
       male                 122                          45                              36.89
2      female                76                          70                              92.11
       male                 108                          17                              15.74
3      female               144                          72                              50.00
       male                 347                          47                              13.54

In [5]:
# Point 2) Age and Sex :From the analysis of the data and grouping of the data based on the sex for
#                       each of the Age groups we can clearly see that the survival rate of the females is 
#                       much higher compared to the males. Females survival rate for all the age groups is higher
#                       than 60% while for males only kids(age 0-10) have a survival percentage of 56% 
#                       for rest of the groups it is in lower either in lower twenties or less than that.

result_age_group = (pd.concat([ trains.groupby(['Sex','Age_group']).count().dropna()['PassengerId'], trains[trains['Survived'] == 1].groupby(['Sex','Age_group']).count().dropna()['PassengerId'], round(trains[trains['Survived'] == 1].groupby(['Sex','Age_group']).count().dropna()['PassengerId']* 100/trains.groupby(['Sex','Age_group']).count().dropna()['PassengerId'],2)], axis=1))
result_age_group.columns = [' Total_Passengrs' ,'Num_of_Survived_Passengers', "Percentage_of_Survived_Passengers"]
result_age_group

                      Total_Passengrs  Num_of_Survived_Passengers  Percentage_of_Survived_Passengers
Sex    Age_group
female (0.0, 10.0]               31.0                        19.0                              61.29
       (10.0, 20.0]              46.0                        34.0                              73.91
       (20.0, 30.0]             117.0                        83.0                              70.94
       (30.0, 40.0]              72.0                        60.0                              83.33
       (40.0, 50.0]              31.0                        21.0                              67.74
       (50.0, 60.0]              14.0                        13.0                              92.86
       (60.0, 70.0]               3.0                         3.0                             100.00
male   (0.0, 10.0]               37.0                        21.0                              56.76
       (10.0, 20.0]              69.0                        10.0                              14.49
       (20.0, 30.0]             268.0                        37.0                              13.81
       (30.0, 40.0]             100.0                        23.0                              23.00
       (40.0, 50.0]              56.0                        12.0                              21.43
       (50.0, 60.0]              28.0                         4.0                              14.29
       (60.0, 70.0]              14.0                         1.0                               7.14
       (70.0, 80.0]               5.0                         1.0                              20.00

In [6]:
# Point 3) Fare and Sex:  It seems the people survival rate of the people who paid the high fare is much higher compared 
#                        to the people in the lower fare range (fare range 0-50 survival rate of around 32%) and we  
#                         also see that the passegnegrs who paid fare higher than 200 Dollars all survived but as their
#                          number is only 14 we prefer to use the group of Females in 1st Class as our choice of Category
#                          to most likely survive the Titanic disaster

result_pclass_group = (pd.concat([ trains.groupby(['Fare_group','Sex']).count().dropna()['PassengerId'], trains[trains['Survived'] == 1].groupby(['Fare_group','Sex']).count().dropna()['PassengerId'], round(trains[trains['Survived'] == 1].groupby(['Fare_group','Sex']).count().dropna()['PassengerId']* 100/trains.groupby(['Fare_group','Sex']).count().dropna()['PassengerId'],2)], axis=1))
result_pclass_group.columns = [' Total_Passengrs' ,'Num_of_Survived_Passengers', "Percentage_of_Survived_Passengers"]
result_pclass_group.dropna()

                        Total_Passengrs  Num_of_Survived_Passengers  Percentage_of_Survived_Passengers
Fare_group     Sex
(0.0, 50.0]    female             227.0                       151.0                              66.52
               male               490.0                        81.0                              16.53
(50.0, 100.0]  female              53.0                        50.0                              94.34
               male                53.0                        20.0                              37.74
(100.0, 150.0] female              15.0                        15.0                             100.00
               male                 9.0                         4.0                              44.44
(150.0, 200.0] female               7.0                         5.0                              71.43
               male                 2.0                         1.0                              50.00
(200.0, 250.0] female               7.0                         7.0                             100.00
(250.0, 300.0] female               4.0                         4.0                             100.00
(500.0, 550.0] female               1.0                         1.0                             100.00
               male                 2.0                         2.0                             100.00

In [7]:
#  ANSWER 2 Part 1 : I analysed all the attributed of the passengers but based on the analysis discarded some of 
#                    the attributes and used the attributes Survived, Sex, Fare, Name, Age and Pclass. 
#                    From the analysis of data we can see that the females have higher survival percentage 
#                    compared to males as a result of which I grouped the Fare, age and Pclass on Sex.
#                    As we have a wide raneg of Age and Fare I created additional columns for Fare_group 
#                    and Age_group to better understand their impact with the gender of the passenger.

In [8]:
#  ANSWER 2 Part 2 : Below is the list of all the attributes used
#                  1) Sex          : Gave us the detail on higher survival rate of females
#                  2) Pclass       : We see higher survival rate with highr passenger class
#                  3) Age          : used for Detail on the survival percentage with the Age 
#                  4) Name         : used to create a new field Salutation used for missing age values
#                  5) Fare         : Used to check on the impact of higher fares on the survival
#                  6) Fare_group   : Created to group different fare values for better analysis
#                  7) Age_group    : Created to group different age values for better analysis
#                  8) Salutation   : Created to get the missing ages for the passengers
#                  9) PassengerId  : Used as a count for passengers

In [9]:
#  ANSWER 3 Part 1 : Below are the new attributes created and their details
#                  1) Salutation   : As I see a lot of passengers have missing age value I created a new field
#                                    by extracting the salutaion used in the name column for each of he passenger
#                                     which is then used to determine the missing age
#
#                  2) Fare_group   : As I see that there is a large variation in the fare of the passengers to better
#                                     understand the impact of the Fare on the Survival of the passenger I
#                                     decided to create additional column by breaking the fare in groups of 50 dollars apart.
#        
#                  3) Age_group    : As the age of the passengers showed a large number of different values I created 
#                                   the new column Age_group by breaking the age in groups of 10 years apart

trains[['Name','Salutation','Fare','Fare_group','Age', 'Age_group']]

                                                  Name    Salutation  Fare      Fare_group   Age     Age_group
0                              Braund, Mr. Owen Harris            Mr     7     (0.0, 50.0]  22.0  (20.0, 30.0]
1    Cumings, Mrs. John Bradley (Florence Briggs Th...           Mrs    71   (50.0, 100.0]  38.0  (30.0, 40.0]
2                               Heikkinen, Miss. Laina          Miss     7     (0.0, 50.0]  26.0  (20.0, 30.0]
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)           Mrs    53   (50.0, 100.0]  35.0  (30.0, 40.0]
4                             Allen, Mr. William Henry            Mr     8     (0.0, 50.0]  35.0  (30.0, 40.0]
5                                     Moran, Mr. James            Mr     8     (0.0, 50.0]  30.0  (20.0, 30.0]
6                              McCarthy, Mr. Timothy J            Mr    51   (50.0, 100.0]  54.0  (50.0, 60.0]
7                       Palsson, Master. Gosta Leonard        Master    21     (0.0, 50.0]   2.0   (0.0, 10.0]
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)           Mrs    11     (0.0, 50.0]  27.0  (20.0, 30.0]
9                  Nasser, Mrs. Nicholas (Adele Achem)           Mrs    30     (0.0, 50.0]  14.0  (10.0, 20.0]
10                     Sandstrom, Miss. Marguerite Rut          Miss    16     (0.0, 50.0]   4.0   (0.0, 10.0]
11                            Bonnell, Miss. Elizabeth          Miss    26     (0.0, 50.0]  58.0  (50.0, 60.0]
12                      Saundercock, Mr. William Henry            Mr     8     (0.0, 50.0]  20.0  (10.0, 20.0]
13                         Andersson, Mr. Anders Johan            Mr    31     (0.0, 50.0]  39.0  (30.0, 40.0]
14                Vestrom, Miss. Hulda Amanda Adolfina          Miss     7     (0.0, 50.0]  14.0  (10.0, 20.0]
15                    Hewlett, Mrs. (Mary D Kingcome)            Mrs    16     (0.0, 50.0]  55.0  (50.0, 60.0]
16                                Rice, Master. Eugene        Master    29     (0.0, 50.0]   2.0   (0.0, 10.0]
17                        Williams, Mr. Charles Eugene            Mr    13     (0.0, 50.0]  30.0  (20.0, 30.0]
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...           Mrs    18     (0.0, 50.0]  31.0  (30.0, 40.0]
19                             Masselmani, Mrs. Fatima           Mrs     7     (0.0, 50.0]  35.0  (30.0, 40.0]
20                                Fynney, Mr. Joseph J            Mr    26     (0.0, 50.0]  35.0  (30.0, 40.0]
21                               Beesley, Mr. Lawrence            Mr    13     (0.0, 50.0]  34.0  (30.0, 40.0]
22                         McGowan, Miss. Anna "Annie"          Miss     8     (0.0, 50.0]  15.0  (10.0, 20.0]
23                        Sloper, Mr. William Thompson            Mr    35     (0.0, 50.0]  28.0  (20.0, 30.0]
24                       Palsson, Miss. Torborg Danira          Miss    21     (0.0, 50.0]   8.0   (0.0, 10.0]
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...           Mrs    31     (0.0, 50.0]  38.0  (30.0, 40.0]
26                             Emir, Mr. Farred Chehab            Mr     7     (0.0, 50.0]  30.0  (20.0, 30.0]
27                      Fortune, Mr. Charles Alexander            Mr   263  (250.0, 300.0]  19.0  (10.0, 20.0]
28                       O'Dwyer, Miss. Ellen "Nellie"          Miss     7     (0.0, 50.0]  21.0  (20.0, 30.0]
29                                 Todoroff, Mr. Lalio            Mr     7     (0.0, 50.0]  30.0  (20.0, 30.0]
30                            Uruchurtu, Don. Manuel E           Don    27     (0.0, 50.0]  40.0  (30.0, 40.0]
31      Spencer, Mrs. William Augustus (Marie Eugenie)           Mrs   146  (100.0, 150.0]  35.0  (30.0, 40.0]
32                            Glynn, Miss. Mary Agatha          Miss     7     (0.0, 50.0]  21.0  (20.0, 30.0]
33                               Wheadon, Mr. Edward H            Mr    10     (0.0, 50.0]  66.0  (60.0, 70.0]
34                             Meyer, Mr. Edgar Joseph            Mr    82   (50.0, 100.0]  28.0  (20.0, 30.0]
35                      Holverson, Mr. Alexander Oskar            Mr    52   (50.0, 100.0]  42.0  (40.0, 50.0]
36                                    Mamee, Mr. Hanna            Mr     7     (0.0, 50.0]  30.0  (20.0, 30.0]
37                            Cann, Mr. Ernest Charles            Mr     8     (0.0, 50.0]  21.0  (20.0, 30.0]
38                  Vander Planke, Miss. Augusta Maria          Miss    18     (0.0, 50.0]  18.0  (10.0, 20.0]
39                         Nicola-Yarred, Miss. Jamila          Miss    11     (0.0, 50.0]  14.0  (10.0, 20.0]
40      Ahlin, Mrs. Johan (Johanna Persdotter Larsson)           Mrs     9     (0.0, 50.0]  40.0  (30.0, 40.0]
41   Turpin, Mrs. William John Robert (Dorothy Ann ...           Mrs    21     (0.0, 50.0]  27.0  (20.0, 30.0]
42                                 Kraeff, Mr. Theodor            Mr     7     (0.0, 50.0]  30.0  (20.0, 30.0]
43            Laroche, Miss. Simonne Marie Anne Andree          Miss    41     (0.0, 50.0]   3.0   (0.0, 10.0]
44                       Devaney, Miss. Margaret Delia          Miss     7     (0.0, 50.0]  19.0  (10.0, 20.0]
45                            Rogers, Mr. William John            Mr     8     (0.0, 50.0]  30.0  (20.0, 30.0]
46                                   Lennon, Mr. Denis            Mr    15     (0.0, 50.0]  30.0  (20.0, 30.0]
47                           O'Driscoll, Miss. Bridget          Miss     7     (0.0, 50.0]  21.0  (20.0, 30.0]
48                                 Samaan, Mr. Youssef            Mr    21     (0.0, 50.0]  30.0  (20.0, 30.0]
49       Arnold-Franchi, Mrs. Josef (Josefine Franchi)           Mrs    17     (0.0, 50.0]  18.0  (10.0, 20.0]
50                          Panula, Master. Juha Niilo        Master    39     (0.0, 50.0]   7.0   (0.0, 10.0]
51                        Nosworthy, Mr. Richard Cater            Mr     7     (0.0, 50.0]  21.0  (20.0, 30.0]
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)           Mrs    76   (50.0, 100.0]  49.0  (40.0, 50.0]
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...           Mrs    26     (0.0, 50.0]  29.0  (20.0, 30.0]
54                      Ostby, Mr. Engelhart Cornelius            Mr    61   (50.0, 100.0]  65.0  (60.0, 70.0]
55                                   Woolner, Mr. Hugh            Mr    35     (0.0, 50.0]  30.0  (20.0, 30.0]
56                                   Rugg, Miss. Emily          Miss    10     (0.0, 50.0]  21.0  (20.0, 30.0]
57                                 Novel, Mr. Mansouer            Mr     7     (0.0, 50.0]  28.5  (20.0, 30.0]
58                        West, Miss. Constance Mirium          Miss    27     (0.0, 50.0]   5.0   (0.0, 10.0]
59                  Goodwin, Master. William Frederick        Master    46     (0.0, 50.0]  11.0  (10.0, 20.0]
60                               Sirayanian, Mr. Orsen            Mr     7     (0.0, 50.0]  22.0  (20.0, 30.0]
61                                 Icard, Miss. Amelie          Miss    80   (50.0, 100.0]  38.0  (30.0, 40.0]
62                         Harris, Mr. Henry Birkhardt            Mr    83   (50.0, 100.0]  45.0  (40.0, 50.0]
63                               Skoog, Master. Harald        Master    27     (0.0, 50.0]   4.0   (0.0, 10.0]
64                               Stewart, Mr. Albert A            Mr    27     (0.0, 50.0]  30.0  (20.0, 30.0]
65                            Moubarek, Master. Gerios        Master    15     (0.0, 50.0]   3.5   (0.0, 10.0]
66                        Nye, Mrs. (Elizabeth Ramell)           Mrs    10     (0.0, 50.0]  29.0  (20.0, 30.0]
67                            Crease, Mr. Ernest James            Mr     8     (0.0, 50.0]  19.0  (10.0, 20.0]
68                     Andersson, Miss. Erna Alexandra          Miss     7     (0.0, 50.0]  17.0  (10.0, 20.0]
69                                   Kink, Mr. Vincenz            Mr     8     (0.0, 50.0]  26.0  (20.0, 30.0]
70                          Jenkin, Mr. Stephen Curnow            Mr    10     (0.0, 50.0]  32.0  (30.0, 40.0]
71                          Goodwin, Miss. Lillian Amy          Miss    46     (0.0, 50.0]  16.0  (10.0, 20.0]
72                                Hood, Mr. Ambrose Jr            Mr    73   (50.0, 100.0]  21.0  (20.0, 30.0]
73                         Chronopoulos, Mr. Apostolos            Mr    14     (0.0, 50.0]  26.0  (20.0, 30.0]
74                                       Bing, Mr. Lee            Mr    56   (50.0, 100.0]  32.0  (30.0, 40.0]
75                             Moen, Mr. Sigurd Hansen            Mr     7     (0.0, 50.0]  25.0  (20.0, 30.0]
76                                   Staneff, Mr. Ivan            Mr     7     (0.0, 50.0]  30.0  (20.0, 30.0]
77                            Moutal, Mr. Rahamin Haim            Mr     8     (0.0, 50.0]  30.0  (20.0, 30.0]
78                       Caldwell, Master. Alden Gates        Master    29     (0.0, 50.0]   0.8   (0.0, 10.0]
79                            Dowdell, Miss. Elizabeth          Miss    12     (0.0, 50.0]  30.0  (20.0, 30.0]
80                                Waelens, Mr. Achille            Mr     9     (0.0, 50.0]  22.0  (20.0, 30.0]
81                         Sheerlinck, Mr. Jan Baptist            Mr     9     (0.0, 50.0]  29.0  (20.0, 30.0]
82                      McDermott, Miss. Brigdet Delia          Miss     7     (0.0, 50.0]  21.0  (20.0, 30.0]
83                             Carrau, Mr. Francisco M            Mr    47     (0.0, 50.0]  28.0  (20.0, 30.0]
84                                 Ilett, Miss. Bertha          Miss    10     (0.0, 50.0]  17.0  (10.0, 20.0]
85   Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...           Mrs    15     (0.0, 50.0]  33.0  (30.0, 40.0]
86                              Ford, Mr. William Neal            Mr    34     (0.0, 50.0]  16.0  (10.0, 20.0]
87                       Slocovski, Mr. Selman Francis            Mr     8     (0.0, 50.0]  30.0  (20.0, 30.0]
88                          Fortune, Miss. Mabel Helen          Miss   263  (250.0, 300.0]  23.0  (20.0, 30.0]
89                              Celotti, Mr. Francesco            Mr     8     (0.0, 50.0]  24.0  (20.0, 30.0]
90                                Christmann, Mr. Emil            Mr     8     (0.0, 50.0]  29.0  (20.0, 30.0]
91                          Andreasson, Mr. Paul Edvin            Mr     7     (0.0, 50.0]  20.0  (10.0, 20.0]
92                         Chaffee, Mr. Herbert Fuller            Mr    61   (50.0, 100.0]  46.0  (40.0, 50.0]
93                             Dean, Mr. Bertram Frank            Mr    20     (0.0, 50.0]  26.0  (20.0, 30.0]
94                                   Coxon, Mr. Daniel            Mr     7     (0.0, 50.0]  59.0  (50.0, 60.0]
95                         Shorney, Mr. Charles Joseph            Mr     8     (0.0, 50.0]  30.0  (20.0, 30.0]
96                           Goldschmidt, Mr. George B            Mr    34     (0.0, 50.0]  71.0  (70.0, 80.0]
97                     Greenfield, Mr. William Bertram            Mr    63   (50.0, 100.0]  23.0  (20.0, 30.0]
98                Doling, Mrs. John T (Ada Julia Bone)           Mrs    23     (0.0, 50.0]  34.0  (30.0, 40.0]
99                                   Kantor, Mr. Sinai            Mr    26     (0.0, 50.0]  34.0  (30.0, 40.0]
100                            Petranec, Miss. Matilda          Miss     7     (0.0, 50.0]  28.0  (20.0, 30.0]
101                   Petroff, Mr. Pastcho ("Pentcho")            Mr     7     (0.0, 50.0]  30.0  (20.0, 30.0]
102                          White, Mr. Richard Frasar            Mr    77   (50.0, 100.0]  21.0  (20.0, 30.0]
103                         Johansson, Mr. Gustaf Joel            Mr     8     (0.0, 50.0]  33.0  (30.0, 40.0]
104                     Gustafsson, Mr. Anders Vilhelm            Mr     7     (0.0, 50.0]  37.0  (30.0, 40.0]
105                              Mionoff, Mr. Stoytcho            Mr     7     (0.0, 50.0]  28.0  (20.0, 30.0]
106                   Salkjelsvik, Miss. Anna Kristine          Miss     7     (0.0, 50.0]  21.0  (20.0, 30.0]
107                             Moss, Mr. Albert Johan            Mr     7     (0.0, 50.0]  30.0  (20.0, 30.0]
108                                    Rekic, Mr. Tido            Mr     7     (0.0, 50.0]  38.0  (30.0, 40.0]
109                                Moran, Miss. Bertha          Miss    24     (0.0, 50.0]  21.0  (20.0, 30.0]
110                     Porter, Mr. Walter Chamberlain            Mr    52   (50.0, 100.0]  47.0  (40.0, 50.0]
111                               Zabour, Miss. Hileni          Miss    14     (0.0, 50.0]  14.5  (10.0, 20.0]
112                             Barton, Mr. David John            Mr     8     (0.0, 50.0]  22.0  (20.0, 30.0]
113                            Jussila, Miss. Katriina          Miss     9     (0.0, 50.0]  20.0  (10.0, 20.0]
114                              Attalah, Miss. Malake          Miss    14     (0.0, 50.0]  17.0  (10.0, 20.0]
115                              Pekoniemi, Mr. Edvard            Mr     7     (0.0, 50.0]  21.0  (20.0, 30.0]
116                               Connors, Mr. Patrick            Mr     7     (0.0, 50.0]  70.5  (70.0, 80.0]
117                    Turpin, Mr. William John Robert            Mr    21     (0.0, 50.0]  29.0  (20.0, 30.0]
118                           Baxter, Mr. Quigg Edmond            Mr   247  (200.0, 250.0]  24.0  (20.0, 30.0]
119                  Andersson, Miss. Ellis Anna Maria          Miss    31     (0.0, 50.0]   2.0   (0.0, 10.0]
120                        Hickman, Mr. Stanley George            Mr    73   (50.0, 100.0]  21.0  (20.0, 30.0]
121                         Moore, Mr. Leonard Charles            Mr     8     (0.0, 50.0]  30.0  (20.0, 30.0]
122                               Nasser, Mr. Nicholas            Mr    30     (0.0, 50.0]  32.5  (30.0, 40.0]
123                                Webber, Miss. Susan          Miss    13     (0.0, 50.0]  32.5  (30.0, 40.0]
124                        White, Mr. Percival Wayland            Mr    77   (50.0, 100.0]  54.0  (50.0, 60.0]
125                       Nicola-Yarred, Master. Elias        Master    11     (0.0, 50.0]  12.0  (10.0, 20.0]
126                                McMahon, Mr. Martin            Mr     7     (0.0, 50.0]  30.0  (20.0, 30.0]
127                          Madsen, Mr. Fridtjof Arne            Mr     7     (0.0, 50.0]  24.0  (20.0, 30.0]
128                                  Peter, Miss. Anna          Miss    22     (0.0, 50.0]  21.0  (20.0, 30.0]
129                                 Ekstrom, Mr. Johan            Mr     6     (0.0, 50.0]  45.0  (40.0, 50.0]
130                               Drazenoic, Mr. Jozef            Mr     7     (0.0, 50.0]  33.0  (30.0, 40.0]
131                     Coelho, Mr. Domingos Fernandeo            Mr     7     (0.0, 50.0]  20.0  (10.0, 20.0]
132     Robins, Mrs. Alexander A (Grace Charity Laury)           Mrs    14     (0.0, 50.0]  47.0  (40.0, 50.0]
133      Weisz, Mrs. Leopold (Mathilde Francoise Pede)           Mrs    26     (0.0, 50.0]  29.0  (20.0, 30.0]
134                     Sobey, Mr. Samuel James Hayden            Mr    13     (0.0, 50.0]  25.0  (20.0, 30.0]
135                                 Richard, Mr. Emile            Mr    15     (0.0, 50.0]  23.0  (20.0, 30.0]
136                       Newsom, Miss. Helen Monypeny          Miss    26     (0.0, 50.0]  19.0  (10.0, 20.0]
137                        Futrelle, Mr. Jacques Heath            Mr    53   (50.0, 100.0]  37.0  (30.0, 40.0]
138                                Osen, Mr. Olaf Elon            Mr     9     (0.0, 50.0]  16.0  (10.0, 20.0]
139                                 Giglio, Mr. Victor            Mr    79   (50.0, 100.0]  24.0  (20.0, 30.0]
140                      Boulos, Mrs. Joseph (Sultana)           Mrs    15     (0.0, 50.0]  35.0  (30.0, 40.0]
141                           Nysten, Miss. Anna Sofia          Miss     7     (0.0, 50.0]  22.0  (20.0, 30.0]
142  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...           Mrs    15     (0.0, 50.0]  24.0  (20.0, 30.0]
143                                Burke, Mr. Jeremiah            Mr     6     (0.0, 50.0]  19.0  (10.0, 20.0]
144                         Andrew, Mr. Edgardo Samuel            Mr    11     (0.0, 50.0]  18.0  (10.0, 20.0]
145                       Nicholls, Mr. Joseph Charles            Mr    36     (0.0, 50.0]  19.0  (10.0, 20.0]
146       Andersson, Mr. August Edvard ("Wennerstrom")            Mr     7     (0.0, 50.0]  27.0  (20.0, 30.0]
147                   Ford, Miss. Robina Maggie "Ruby"          Miss    34     (0.0, 50.0]   9.0   (0.0, 10.0]
148           Navratil, Mr. Michel ("Louis M Hoffman")            Mr    26     (0.0, 50.0]  36.5  (30.0, 40.0]
149                  Byles, Rev. Thomas Roussel Davids           Rev    13     (0.0, 50.0]  42.0  (40.0, 50.0]
150                         Bateman, Rev. Robert James           Rev    12     (0.0, 50.0]  51.0  (50.0, 60.0]
151                  Pears, Mrs. Thomas (Edith Wearne)           Mrs    66   (50.0, 100.0]  22.0  (20.0, 30.0]
152                                   Meo, Mr. Alfonzo            Mr     8     (0.0, 50.0]  55.5  (50.0, 60.0]
153                    van Billiard, Mr. Austin Blyler            Mr    14     (0.0, 50.0]  40.5  (40.0, 50.0]
154                              Olsen, Mr. Ole Martin            Mr     7     (0.0, 50.0]  30.0  (20.0, 30.0]
155                        Williams, Mr. Charles Duane            Mr    61   (50.0, 100.0]  51.0  (50.0, 60.0]
156                   Gilnagh, Miss. Katherine "Katie"          Miss     7     (0.0, 50.0]  16.0  (10.0, 20.0]
157                                    Corn, Mr. Harry            Mr     8     (0.0, 50.0]  30.0  (20.0, 30.0]
158                                Smiljanic, Mr. Mile            Mr     8     (0.0, 50.0]  30.0  (20.0, 30.0]
159                         Sage, Master. Thomas Henry        Master    69   (50.0, 100.0]   3.5   (0.0, 10.0]
160                           Cribb, Mr. John Hatfield            Mr    16     (0.0, 50.0]  44.0  (40.0, 50.0]
161  Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...           Mrs    15     (0.0, 50.0]  40.0  (30.0, 40.0]
162                         Bengtsson, Mr. John Viktor            Mr     7     (0.0, 50.0]  26.0  (20.0, 30.0]
163                                    Calic, Mr. Jovo            Mr     8     (0.0, 50.0]  17.0  (10.0, 20.0]
164                       Panula, Master. Eino Viljami        Master    39     (0.0, 50.0]   1.0   (0.0, 10.0]
165    Goldsmith, Master. Frank John William "Frankie"        Master    20     (0.0, 50.0]   9.0   (0.0, 10.0]
166             Chibnall, Mrs. (Edith Martha Bowerman)           Mrs    55   (50.0, 100.0]  35.0  (30.0, 40.0]
167    Skoog, Mrs. William (Anna Bernhardina Karlsson)           Mrs    27     (0.0, 50.0]  45.0  (40.0, 50.0]
168                                Baumann, Mr. John D            Mr    25     (0.0, 50.0]  30.0  (20.0, 30.0]
169                                      Ling, Mr. Lee            Mr    56   (50.0, 100.0]  28.0  (20.0, 30.0]
170                          Van der hoef, Mr. Wyckoff            Mr    33     (0.0, 50.0]  61.0  (60.0, 70.0]
171                               Rice, Master. Arthur        Master    29     (0.0, 50.0]   4.0   (0.0, 10.0]
172                       Johnson, Miss. Eleanor Ileen          Miss    11     (0.0, 50.0]   1.0   (0.0, 10.0]
173                          Sivola, Mr. Antti Wilhelm            Mr     7     (0.0, 50.0]  21.0  (20.0, 30.0]
174                            Smith, Mr. James Clinch            Mr    30     (0.0, 50.0]  56.0  (50.0, 60.0]
175                             Klasen, Mr. Klas Albin            Mr     7     (0.0, 50.0]  18.0  (10.0, 20.0]
176                      Lefebre, Master. Henry Forbes        Master    25     (0.0, 50.0]   3.5   (0.0, 10.0]
177                         Isham, Miss. Ann Elizabeth          Miss    28     (0.0, 50.0]  50.0  (40.0, 50.0]
178                                 Hale, Mr. Reginald            Mr    13     (0.0, 50.0]  30.0  (20.0, 30.0]

In [10]:
#  ANSWER 3 Part 2 : Below are the details of the discarded attributed

#Discarded attribute Cabin : The original data set only had the 204 passengers with the Cabin attribute
#                             which was a very small set to determine its impact on the survival of the 
#                             passengers
        
#Discarded attribute Embarked: The passenger point of embarkement didn't seem to have considerable impact on the
#                               survival of the passenger as we can see from the below data 
trains.groupby(['Survived','Embarked']).count()['PassengerId']

Survived  Embarked
0         C            75
          Q            47
          S           427
1         C            93
          Q            30
          S           219
Name: PassengerId, dtype: int64

In [11]:
#Discarded attribute Sibsp: as I it was not cosiderably impacting the survival rate of the passenger as visible from the 
#                            below data

trains.groupby(['Survived','SibSp']).count()['PassengerId']

Survived  SibSp
0         0        398
          1         97
          2         15
          3         12
          4         15
          5          5
          8          7
1         0        210
          1        112
          2         13
          3          4
          4          3
Name: PassengerId, dtype: int64

In [12]:
# I also checked if the married females had higher survival rate but as it was not considerably high it was 
#  not further explored
trains[trains['Salutation']=='Mrs'].groupby('Survived').count()['PassengerId']

Survived
0    26
1    99
Name: PassengerId, dtype: int64

In [13]:
# Discarded attribute Parch: No considerable impact on the attribute Parch on the survival of passenger
#                            Below is the data grouped by survived for Parch
trains.groupby(['Survived','Parch']).count()['PassengerId']

Survived  Parch
0         0        445
          1         53
          2         40
          3          2
          4          4
          5          4
          6          1
1         0        233
          1         65
          2         40
          3          3
          5          1
Name: PassengerId, dtype: int64

In [14]:
# Discarded attribute Ticket: There are 681 unique values of the Ticket attribute so the impact of the tciket on
#                             the survival of the passenger will be random. 

trains['Ticket'].describe()

count        891
unique       681
top       347082
freq           7
Name: Ticket, dtype: object

In [15]:
#  ANSWER 4 : There are 3 attributes which are missing values Age, Cabin and Embarked

# Missing Age value : There are 177 passengers missing their Age in the data sheet.
#                      To fill the missing age value I decided to create a new column by extracting the Salutation of the
#                      Passengers from the Passenger name using regex. For the passengers missing the age the median age of the 
#                      Salutation of the passenger was assigned.                                  
#
#Below is the median of the various salutations for the passengers
trains.groupby('Salutation')['Age'].median()

Salutation
Capt            70.0
Col             58.0
Don             40.0
Dr              46.5
Jonkheer        38.0
Lady            48.0
Major           48.5
Master           3.5
Miss            21.0
Mlle            24.0
Mme             24.0
Mr              30.0
Mrs             35.0
Ms              28.0
Rev             46.5
Sir             49.0
the Countess    33.0
Name: Age, dtype: float64

In [16]:
# Missing Cabin and the Embarked : I assigned the most frequent value of the Cabin and the Embarked for the passengers 
#                                   Missing the Cabin and Embarked values. 

trains['Cabin'].value_counts().idxmax() , trains['Embarked'].value_counts().idxmax()

('C23 C25 C27', 'S')